.form_oyna form {
  display: flex;
  flex-direction: column;
  width: 40%;
  margin: 20px auto;
  gap: 20px;
  align-items: flex-end;
}

.crud input {
  padding: 10px;
  font-size: 20px;
  border: none;
  outline: none;
  border: 1px solid silver;
  width: 100%;
}

.sendBtn {
  margin: 0;
}

.crud table {
  margin: 20px auto;
}

button {
  padding: 10px 25px;
  border: none;
  outline: none;
  background-color: blue;
  color: white;
  cursor: pointer;
}

img {
  width: 200px;
  height: 150px;
}

.remove {
  background-color: red;
}

button:active {
  transform: scale(0.9);
}

.no {
  text-align: center;
}

.edit {
  background-color: green;
  margin-top: 10px;
  margin-left: 10px;
}

.card {
  width: 300px;
  background: white;
  box-shadow: 5px 5px 10px;
  height: auto;
  min-height: 400px;
  text-align: center;
  border-radius: 10px;
  padding: 10px;
}

.p {
  display: flex;
  justify-content: start;
  align-items: center;
  margin-left: 30px;
  gap: 20px;
  margin: 0;
  padding: 0;
}

.cards {
  display: grid;
  grid-template-columns: repeat(3, auto);
  width: 90%;
  margin: 20px auto;
  justify-content: center;
  gap: 20px;
  align-items: center;
}

.table {
  float: right;
}